<div>
    <h1>Contract Information</h1>

    <div>
        <form class="form-horizontal contract">
            <div class="form-group">
                <label class="col-sm-3 control-label ">
                    <b>Contract ID</b>
                </label>
                <div class="col-sm-6 input-sm">
                    <input type="text" class="form-control" required>
                </div>
            </div>


            <div class="form-group">
                <label class=" col-sm-3 control-label">
                    <b>Contractor ID</b>
                </label>
                <div class="col-sm-6 input-sm">
                    <input type="text" class="form-control" required>
                </div>
            </div>

            <div class="form-group">
                <label class=" col-sm-3 control-label">
                    <b>Start Date</b>
                </label>
                <div class="col-sm-6 input-sm">
                    <input type="text" class="form-control" required>
                </div>
            </div>

            <div class="form-group">
                <label class=" col-sm-3 control-label">
                    <b>End Date</b>
                </label>
                <div class="col-sm-6 input-sm">
                    <input type="text" class="form-control" required>
                </div>
            </div>
        </form>


        <form class="form-horizontal contract">
            <h3 class="info">Paid By Client</h3>
            <div class="form-group">
                <!-- <div class="col-sm-3">
                    <img src="/images/check.jpg" height="20" width="20" />
                </div> -->
                <img src="/images/check.jpg" height="20" width="20" class="tick"/>
                <label class=" col-sm-3 control-label">
                    <b>Employee ESI </b>
                </label>
              
            </div>


            <div class="form-group">
                    <!-- <div class="col-sm-3">
                        <img src="/images/check.jpg" height="20" width="20" />
                    </div> -->
                    <img src="/images/check.jpg" height="20" width="20" class="tick"/>
                    <label class=" col-sm-3 control-label">
                        <b>Employee PF </b>
                    </label>
                  
                </div>


        </form>



    </div>

</div>