<div>
    <h1>Employee Information</h1>

    <div>
        <form class="form-horizontal employee">
            <div class="form-group">
                <label class="col-sm-3 control-label ">
                    <b>Employee ID</b>
                </label>
                <div class="col-sm-6 input-sm">
                    <input type="text" class="form-control" required>
                </div>
            </div>


            <div class="form-group">
                <label class=" col-sm-3 control-label">
                    <b>First Name</b>
                </label>
                <div class="col-sm-6 input-sm">
                    <input type="text" class="form-control" required>
                </div>
            </div>


            <div class="form-group">
                <label class=" col-sm-3 control-label">
                    <b>Middle Name</b>
                </label>
                <div class="col-sm-6 input-sm">
                    <input type="text" class="form-control" required>
                </div>
            </div>



            <div class="form-group">
                <label class=" col-sm-3 control-label">
                    <b>Last Name</b>
                </label>
                <div class="col-sm-6 input-sm">
                    <input type="text" class="form-control" required>
                </div>
            </div>

            <div class="form-group">
                <label class=" col-sm-3 control-label">
                    <b>D0B</b>
                </label>
                <div class="col-sm-6 input-sm">
                    <input type="text" class="form-control" required>
                </div>
            </div>

        </form>

        <form class="form-horizontal employee">

            <img class="employee-img" src="/images/employee.png" />

        </form>

        <form class="form-horizontal employee">
            <h3 class="info">Identity Information</h3>
            <div class="form-group">
                <label class="col-sm-3 control-label ">
                    <b>Aadhar no</b>
                </label>
                <div class="col-sm-8  input-sm">
                    <input type="text" class="form-control" required>
                </div>
            </div>


            <div class="form-group">
                <label class=" col-sm-3 control-label">
                    <b>UAN No</b>
                </label>
                <div class="col-sm-8  input-sm">
                    <input type="text" class="form-control" required>
                </div>
            </div>


            <div class="form-group">
                <label class=" col-sm-3 control-label">
                    <b>ESI No</b>
                </label>
                <div class="col-sm-8  input-sm">
                    <input type="text" class="form-control" required>
                </div>
            </div>

        </form>
        <form class="form-horizontal employee">
            <h3 class="info">Bank Details</h3>
            <div class="form-group">
                <label class="col-sm-3 control-label ">
                    <b>Account no</b>
                </label>
                <div class="col-sm-8  input-sm">
                    <input type="text" class="form-control" required>
                </div>
            </div>


            <div class="form-group">
                <label class=" col-sm-3 control-label">
                    <b>IFSC Code</b>
                </label>
                <div class="col-sm-8  input-sm">
                    <input type="text" class="form-control" required>
                </div>
            </div>


        </form>

        <form class="form-horizontal employee">
            <h3 class="info">Contact Details</h3>
            <div class="form-group">
                <label class="col-sm-3 control-label ">
                    <b>Phone no</b>
                </label>
                <div class="col-sm-8  input-sm">
                    <input type="text" class="form-control" required>
                </div>
            </div>


            <div class="form-group">
                <label class=" col-sm-3 control-label">
                    <b>Alternate</b>
                </label>
                <div class="col-sm-8  input-sm">
                    <input type="text" class="form-control" required>
                </div>
            </div>


        </form>

        <form class="form-horizontal employee">
            <h3 class="info">Address</h3>
            <div class="form-group">
                <label class=" col-sm-3 control-label">
                    <b> </b>
                </label>
                <div class="col-sm-12 lg">
                    <input type="text" class="form-control" required>
                </div>
            </div>


            <div class="form-group">
                <label class=" col-sm-3 control-label">
                    <b>Pin Code</b>
                </label>
                <div class="col-sm-8  input-sm">
                    <input type="text" class="form-control" required>
                </div>
            </div>


        </form>

    </div>

</div>